
body{
    background-image:url('background.jpg');
    background-repeat:no-repeat;
    background-size :100%;
}
  .scribble{
    display: flex; 
justify-content: space-between;

}
.linlin{
    text-decoration:none;
    color:black;
}
#myBtn{
background-color:blue;
color: aliceblue;
cursor:pointer;}
#myBtn1{
    background-color:blue;
    color: aliceblue;
  
}

    

.butt{
  display:flex;
    gap:9px;
    justify-content: center;
    padding:30%;
}
.chief{
    background-color:yellow;
    color:black;
}
#mybtn{
  background-color:yellow;
  color:black;
}
.change{
    font-family: Montez; font-size: 29px; font-style: normal; font-variant: normal; font-weight: 700;
    color:rgb(41, 41, 172);
}
.chang{
    font-family:Ubuntu Mono;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 40; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 38%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:6} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: left;
    font-size: 35px;
    font-weight: bold;
    border-bottom: black 1px solid;
     padding-bottom:15px;
     padding-right:0px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    border-color:white;
  
  
  }
  
  .modal-body {padding: 2px 16px;
    border-color:white;}
  
  .h2b{ 
    text-align:start;
    padding:15px;
    margin:0px;
    border-bottom: black 1px solid;
     padding-left:0px;
    color:gray;
    padding-right:293.6px;
   }
  .h3b{
       padding-left:3px;
      }
      input{
        padding:10px;
        padding-right:262px;
        background-color:#edf0f4;
       border-color:white;
        margin:10px;
         margin-top:3px;
         margin-left:3px;
      }
     
   #abl{
    padding-left:190px;
    padding-right:190px;
    padding-top:10px;
    padding-bottom:10px;
    text-align:centre;
    color:#fefefe;
    background-color:green;
    margin:10px;
      margin-bottom:25px;
     border-color:white;
      margin-top:20px;
    }
    .modal1 {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 40; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
  
  .modal-content1 {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 38%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }
    
    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:6} 
      to {top:0; opacity:1}
    }
    
    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }
    
    /* The Close Button */
    .close1 {
      color: white;
      float: left;
      font-size: 35px;
      font-weight: bold;
      border-bottom: black 1px solid;
       padding-bottom:15px;
       padding-right:0px;
    }
    
  .close1:hover,.close1:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    
    .modal-header1 {
      display:inline-flex;
      padding: 3px 16px;
      border-color:white;
    
    
    }
    
    .modal-body1 {padding: 2px 16px;
      border-color:white;}
    
    .h2b1{ 
      text-align:start;
      padding:15px;
      margin:0px;
      border-bottom: black 1px solid;
       padding-left:0px;
      color:gray;
      padding-right:225px;
     }
    .h3b1{
         padding-left:3px;
        }
        input{
          padding:10px;
          padding-right:300px;
          background-color:#edf0f4;
         border-color:white;
          margin:10px;
           margin-top:3px;
           margin-left:3px;
           overflow:auto;
        }
        .input{
          
          
          background-color:#edf0f4;
         border-color:white;
         
        }
       
     #abl1{
      padding-left:200px;
      padding-right:200px;
      padding-top:10px;
      padding-bottom:10px;
      text-align:centre;
      color:#fefefe;
      background-color:green;
      margin:5px;
        margin-bottom:25px;
       border-color:white;
        margin-top:20px;
      }
.cent{
  display:flex;
  justify-content: center;
text-align:center;
}
.stb {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 40; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 ;
}


.sta {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:6} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.clo {
  color: white;
  float: left;
  font-size: 35px;
  font-weight: bold;
  border-bottom: black 1px solid;
   padding-bottom:15px;
   padding-right:0px;
}

.clo:hover,.clo:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.atl {
  display:inline-flex;
  padding: 3px 16px;
  border-color:white;


}

.mot{padding: 2px 16px;
  border-color:white;}
    input{
      padding:10px;
      padding-right:262px;
      background-color:#edf0f4;
     border-color:white;
      margin:10px;
       margin-top:3px;
       margin-left:3px;
    }
    .h2b12{ 
      text-align:start;
      padding:15px;
      margin:0px;
      border-bottom: black 1px solid;
       padding-left:0px;
      color:gray;
      padding-right:800px;
    }
 .safe{
  padding-left:60px;
  padding-right:60px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:centre;
  color:#fefefe;
  background-color:green;
  margin:5px;
    margin-bottom:25px;
   border-color:white;
    margin-top:20px;
    text-align: center;
  }
.pig{
  padding-right: 830px;
}
